*{
    margin: 0 auto;
    padding: 3px;
    
}
body {
    
 background-image: url("images/P0i7.gif");


    color: #555555;

    font-family: Times;
    font-size: 16px;
    font-weight:normal;
    
    line-height: 1.6em;   
    text-align: center;
}
body img{
    width: 80px
}
body blockquote{
    background: #f3eeeef8;

    border-width: 3px;
    border: 4px;
    border-style: dotted;
    border-radius: 5px;
    box-sizing: border-box;

    max-width: 42rem;
    text-align: center;

    padding: 10px;
    margin-top: 20px;
}
.main ul {
    margin:0;
    padding:0;
    text-align: center;
    list-style: none;              
}
.main ul  li {
    padding: 2px 5px;               
}

hr{
    border:none;
    border-top: 3px double #333;
    color: #333;
    height: 5px;
    max-width: 42rem;
}


.booksineachcategory table,
td {
    border: 1px solid #333;  
}

.booksineachcategory thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.btn-1 a{
    font: Arial, Helvetica, sans-serif 16px normal;
    
    color: #333;
}


.btn-1 {
    border: 0px solid #000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.1);
}
.btn-1:hover{
    transform: translate(0, -5px);
    box-shadow: 0px 6px 25px 0px rgba(0,0,0,.08);
}
.btn-1:hover:after{
    transform: translate(0);
}
